.advantages {
  color: black;
}

.advantages__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.advantages__list {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}
