.btn {
  display: inline-block;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  vertical-align: top;
  color: #444444;
  padding: 15px 85px;
  border: 2px #444444 solid;
}
