.contacts {

  @media @tablet {
  background-image: url(../img/icon-flag.svg);
  background-repeat: no-repeat;
  background-position: 95% 0%;
  }
}

.contacts__wrapper {
  .container();
}

.contacts__block {

  @media @tablet {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 180px;
  }
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;

  @media @tablet {
    font-size: 43px;
  }
}

.contacts__email-block,
.contacts__address-block {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: @gray-color;
  display: flex;
}

.contacts__email,
.contacts__address {
  margin-right: 30px;
}

.contacts__email-info {
  border-bottom: 1px #62d1ba solid;
}

.contacts__address-info {
  width: 150px;
  box-sizing: border-box;
  @media @tablet {
    width: 195px;
  }
}

.contacts .btn {
  font-size: 18px;
  padding: 14px 49px;
  margin-top: 40px;
  margin-bottom: 40px;
}
