.custom-made__wrapper {
  .container();
}

.custom-made__title {
  min-height: 177px;
  background-color: #f1f1f1;
  text-align: center;
  padding-top: 1px;
}

.custom-made__title h1 {
  font-size: 27px;
  line-height: 30px;
  color: #231f20;
  margin-top: 71px;
  margin-bottom: 30px;
}

.custom-made__text {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: @gray-color;
}

.custom-made__radio, .custom-made__checkbox, .custom-made__full-name {
  display: flex;
  flex-direction: column;
}

.custom-made__form-title {
  font-size: 17px;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase;
}

.custom-made__additionally .btn {
  padding: 14px 46px;
}
