.main-nav {
  min-height: 80px;
}

.main-nav__wrapper {
  .container();
  position: relative;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
}

.main-nav__toggler {
  font-size: 0;
  width: 20px;
  height: 14px;
  background: url("../img/icon-menu-open.svg");
  border: none;
  outline: none;
  cursor: pointer;
  margin: auto 0;
  margin-left: auto;

  @media @tablet {
    display: none;
  }
}

.main-nav__list {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;

  @media @tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.main-nav__item {
  cursor: pointer;
  box-sizing: border-box;
  margin: auto 0;
}

.main-nav__goods {

  @media @tablet {
    order: 1;
    position: absolute;
    top: 90px;
    left: 50px;
    display: flex;
    width: 300px;
    justify-content: space-between;
    font-size: 15px;

    @media @desktop {
      position: inherit;
      order: -1;
      font-size: 17px;
      width: 350px;
    }
  }
}

.main-nav__help {
  display: flex;
  width: 370px;
  @media @desktop {
    order: 0;
  }
}

.main-nav__item--search {
  font-size: 0;
  width: 18px;
  height: 18px;
  padding: 40px;
  border-left: 1px #ececec solid;
  border-right: 1px #ececec solid;
  background-image: url(../../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav__item--basket {
  padding: 25px 0;
  padding-left: 80px;
  background-image: url(../../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 30px 50%;
}

.main-nav__deals {

  @media @tablet {
    display: none;
  }

  @media @desktop {
    display: flex;
    position: absolute;
    top: 90px;
    left: 100px;
    display: flex;
    width: 300px;
    justify-content: space-between;
    font-size: 15px;

  }
}

.main-nav__item a {
  color: black;
  text-decoration: none;
}
