.most-popular {
}

.most-popular__wrapper {
  .container();
  padding-top: 1px;
}

.most-popular__title {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 6px;
  margin-top: 26px;
}

.most-popular__subtitle {
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 22px;
}

.most-popular__description {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: @gray-color;
}

.most-popular table {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.most-popular__price {
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}
