.page-footer {
  background-color: rgb(241, 241, 241);
}

.page-footer__wrapper {
  .container();
}

.page-footer__copyright {
  min-height: 80px;
}

.page-footer__copyright p {
  font-size: 18px;
  line-height: 18px;
}

.page-footer__copyright-link {
  display: inline-block;
  vertical-align: top;
  width: 60px;
  height: 60px;
  background-image: url("../../img/htmlacademy.svg");
}
